.wrapper {
    background-color: var(--bg-color);
    padding-bottom: 40px;
}

.section__collection {
    padding-bottom: 40px;
}

.banner {
    margin: 1px 0;

    &__link {
        text-decoration: none;
        display: block;
    }

    &__img {
        width: 100%;
    }
}

.title {
    display: flex;
    justify-content: center;
    margin: 40px 0 30px;
    text-decoration: none;

    h3 {
        text-align: center;
        font-size: 24px;
        margin: 0 0 8px;
        font-weight: 700;
        color: var(--white-color);
        display: inline-block;
        min-width: 70%;
        background: var(--primary-color);
        box-shadow: 0px 0px 0px 2px rgb(72 137 201 / 80%);
        padding: 8px 15px 10px;
        border-radius: 50px;
        text-transform: uppercase;
    }
}

.more-btn__wrap {
    display: flex;
    justify-content: center;

    .more-btn {
        display: inline-block;
        margin: 0 auto;
        text-transform: initial;
        margin-top: 8px;
        padding: 10px 30px;
        border-radius: 4px;
        border: 1px solid var(--primary-color);
        background-color: var(--white-color);
        text-decoration: none;
        color: var(--primary-color);
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.banner-group {
    margin-top: 25px;
    overflow: hidden;

    &__link {
        display: block;
        text-decoration: none;
    }

    &__img {
        width: 100%;
        transition: transform 0.45s linear;

        &:hover {
            transform: scale(1.05);
        }
    }
}
